.panel {
    width: 640px;
    margin: 0 auto;
}

.snapshot {
    height: 480px;
}

.snapshot img {
    display: block;
    margin: 0 auto;
}

.row {
    float: left;
    margin: 10px auto;
    width: 100%;
}

.left {
    text-align: right;
    float: left;
    display: block;
    width: 150px;
}

.section .section .left {
    width: 130px;
}

.right {
    display: block;
    float: left;
    margin: 0 10px;
    text-align: left;
    width: 150px;
}

.info {
    display: block;
    float: left;
    padding: 0 10px;
    text-align: left;
    width: 250px;
    font-family: verdana;
    font-size: 10pt;
}

code {
    font-size: 9pt;
}

.detail {
    font-family: verdana;
    font-size: 10pt;
}

.h2 {
    font-family: verdana;
    font-size: 12pt;
}

a {
    color: black;
    font-family: verdana;
    font-size: 10pt;
    text-align: left;
    text-decoration: underline;
}

.center {
    display: block;
    margin: 0 auto;
}

label {
    font-family: Verdana;
    font-size: 10pt;
    font-weight: bold;
    width: 320px;
}

select {
    border: 1px solid;
    border-radius: 5px 5px 5px 5px;
    font-family: verdana;
    font-size: 10pt;
    font-style: normal;
    padding: 2px;
}

input {
    border-color: black;
    border-radius: 5px 5px 5px 5px;
    border-style: solid;
    border-width: 1px;
    margin: 2px;
    padding: 2px;
}

input.button {
    font-family: verdana;
    font-size: 20pt;
    margin: 10px auto;
}

.center input.button {
    margin: 10px 60px;
}

.section {
    border: 1px solid;
    border-radius: 5px 5px 5px 5px;
    margin: 10px 0 0 0;
    overflow: hidden;
}

.section .section {
    border-style: dashed;
    margin: 10px;
    padding: 10px;
}
